


/* body {
  font-family: "Poppins", sans-serif;
} */


#part1 {
display: flex;
margin: auto;
  /* border: 1px solid red; */
width: 100%;
}

#part3 {
  /* border: 1px solid red; */
display: flex;
margin: auto;
flex-direction: column;
  /* border: 1px solid rgb(55, 0, 255); */
  width: 100%;
}
#part4{

margin-top: 15px;
    
}
#product1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#product1 > div {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#product1 > div::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#product1 > div:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}

#product1 > div::after {
  opacity: 1;
}

#productbtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#productbtns > div {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
#productbtns > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#picdiv {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 0px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}

#childdiv {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 0px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 0px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 0px;
  margin: auto;
  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv4 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv6 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv7 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv8 {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv9 {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv10 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 0px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv11 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv12 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}
#childdiv13 {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin: auto;

  /* border: 1px solid rebeccapurple; */
  width: 80%;
  text-align: center;
}



  /* navbar csss */

  * {
    box-sizing: border-box;
 }
  body {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
 }
  strong {
    padding: 0;
    margin: 0;
      
 }
  label, a {
    text-decoration: none;
    color: #555;
 }
  ul {
    list-style: none;
    padding: 0;
 }
  header {
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
 }
  .header-content-top {
    background: rebeccapurple;
    height: 30px;
    width: 100%;
 }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
 }
  .header-content-top .content span {
    color: #fff;
    font-size: 12px;
    margin: 0 15px;
 }
  .header-content-top .content span .fas {
    margin-right: 5px;
 }
  .container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
    position: relative;
    width: 100%;
 }
  .container .logo {
    color: #ffd91c;
    font-size: 40px;
    line-height: 20px;
    padding-right: 15px;
 }
  .container .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
 }
  @media (max-width: 991px) {
    .container .open-search {
      margin: 0;
      position: static;
      text-align: right;
   }
 }
  .container .open-search .fa-search {
    display: none;
 }
  @media (max-width: 991px) {
    .container .open-search .fa-search {
      display: block;
   }
 }
  .container .open-search .input-open-search {
    display: none;
 }
  .container .open-search .input-open-search:checked ~ .search {
    display: block;
 }
  @media (max-width: 991px) {
    .container .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999;
   }
 }
  .container .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, rebeccapurple 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
 }
  .container .search .input-search:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
 }
  .container .search .button-search {
    background: #ff5757;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
 }
  .container .search .button-search .fa-search {
    display: block;
 }
  .container .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
 }
  .container .nav-content .nav-content-list .nav-content-item {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 0 5px;
    position: relative;
    transition: 100ms all linear 0s;
 }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .nav-content-item {
      padding: 0 5px;
   }
 }
  .container .nav-content .nav-content-list .nav-content-item .item-arrow {
    margin-left: 5px;
    position: relative;
    top: -3px;
 }
  @media (max-width: 768px) {
    .container .nav-content .nav-content-list .nav-content-item .item-arrow {
      display: none;
   }
   .mySlides {
    width: 50%;
     }
 }
  .container .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
 }
  .container .nav-content .nav-content-list .nav-content-item .input-menu {
    display: none;
 }
  .container .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
    display: block;
 }
  .container .nav-content .nav-content-list .nav-content-item .login-list {
    background: #fff;
    border-bottom: 3px solid #ff5757;
    border-radius: 3px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 28px;
    transition: 100ms all linear 0s;
    width: 200px;
    z-index: 10;
 }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
    padding: 15px 20px;
 }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
    background: rebeccapurple;
 }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
    color: #fff;
 }
  .container .nav-content .nav-content-list .nav-content-item:nth-child(2):hover .fas {
    color: #e74c3c;
 }
  .container .nav-content .nav-content-list .nav-content-item:hover .fas {
    color: rebeccapurple;
 }
  .container .nav-content .nav-content-list .account-login .login-text {
    align-items: end;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 5px;
 }






 #slidebox{
  width: 100%;
     }


    



  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .account-login .login-text {
      display: none;
   }
   .mySlides {
 width: 70%;
  }
  
 }
  .container .nav-content .nav-content-list .account-login .login-text strong {
    display: block;
 }
  .container .nav-content .nav-content-list .nav-content-link {
    border-radius: 3px;
    font-size: 19px;
    padding: 10px 15px;
    transition: 100ms all linear 0s;
 }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .nav-content-link {
      padding: 0;
   }
 }
  .nav-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
 }
  .nav-container .nav-row {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
 }
  @media (max-width: 991px) {
    .nav-container .nav-row {
      display: none;
   }
 }
  .nav-container .nav-row .nav-row-list {
    flex: auto;
 }
  .nav-container .nav-row .nav-row-list .nav-row-list-link {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: 100ms all linear 0s;
 }
  .nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
    background: #e1e1e1;
    width: 100%;
 }
  .nav-container .featured-category {
    flex: auto;
    margin: 0 15px 0 0;
 }
  @media (max-width: 991px) {
    .nav-container .featured-category {
      display: none;
   }
 }
  .nav-container .all-navigator {
    align-items: center;
    background: #ff5757;
    color: #fff;
    display: flex;
    height: 40px;
    padding: 0 25px;
    width: 100%;
 }
  @media (max-width: 991px) {
    .nav-container .all-navigator {
      margin-right: 0;
   }
 }
  .nav-container .all-navigator .fa-angle-up, .nav-container .all-navigator .fa-angle-down {
    position: absolute;
    right: 25px;
 }
  .nav-container .all-navigator .fa-angle-up {
    display: none;
 }
  .nav-container .all-navigator .fas {
    font-size: 16px;
    margin-right: 0;
 }
  .nav-container .all-navigator span {
    margin-left: 15px;
 }
  .nav-container .all-category-nav {
    cursor: pointer;
    max-width: 300px;
    position: relative;
    width: 100%;
 }
  @media (max-width: 991px) {
    .nav-container .all-category-nav {
      max-width: 100%;
   }
 }
  .nav-container .all-category-nav .open-menu-all {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
 }
  .nav-container .all-category-nav .input-menu-all {
    display: none;
 }
  .nav-container .all-category-nav .input-menu-all:checked ~ .all-category-list {
    display: block;
 }
  .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-down {
    display: none;
 }
  .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-up {
    display: block;
 }
  .nav-container .all-category-list {
    background: #fff;
    border-bottom: 3px solid #ff5757;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    height: auto;
    min-height: 300px;
    padding: 15px 0;
    position: absolute;
    top: 24px;
    width: 300px;
    z-index: 90;
 }
  @media (max-width: 991px) {
    .nav-container .all-category-list {
      min-width: 100%;
   }
 }
  .nav-container .all-category-list-item:hover {
    display: block;
    background: #ff5757;
 }
  .nav-container .all-category-list-item:hover .category-second-list {
    left: 100%;
    opacity: 1;
    visibility: visible;
 }
  .nav-container .all-category-list-item:hover .all-category-list-link {
    color: #fff;
 }
  .nav-container .all-category-list-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition: 100ms all linear 0s;
 }
  .nav-container .category-second-list {
    background: #fff;
    border-bottom: 3px solid rebeccapurple;
    box-shadow: inset 44px -1px 88px -59px rgba(0, 0, 0, 0.37);
    display: flex;
    height: 322px;
    left: 80%;
    min-height: 297px;
    min-width: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms all linear 0s;
    visibility: hidden;
    width: auto;
 }
  @media (max-width: 991px) {
    .nav-container .category-second-list {
      display: none;
   }
 }
  .nav-container .category-second-list .img-product-menu img {
    max-width: 180px;
 }
  .nav-container .category-second-list-ul {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px;
 }
  .nav-container .category-second-item a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
 }
  .nav-container .category-second-item:hover {
    background: rebeccapurple;
 }
  .nav-container .category-second-item:hover a {
    color: #fff;
 }
  .fa-bars {
    font-size: 28px;
 }
  

/* footer css */



.new_footer_area {
  background: #fbfbfd;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

/*************footer End*****************/

